 <div class="jumbotron" style="background-color: #72B095 !important">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <span class="text-center"><%= image_tag("EventTrack-logo.png") %></span>
      </div>
      <div class="col-md-6">
        <br><br>
        <span class="text-left">
          <p>Create events, invite your friends, and party hard.<br/>
              Don't have an account? No problem.<br> <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %></p>
        </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Create</h2>
        <p>
          That's right, you can create any event you want.</br>
          Party, Barbcue, Meetup, just register and create it!
        </p>
      </div>
      <div class="col-md-4">
        <h2>Invite</h2>
        <p>
          You can invite everybody.</br>
          Your friends, your girlfriend, yo brotha,</br>
          you sista, and yo mama too.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Share</h2>
        <p>Because everyone in the internet must know about it</p>
      </div>
    </div>
  </div>