<% if logged_in? %>
  <h3>Events I've created:</h3>
  <% if @events.any? %>
    <%= render 'shared/events', object: @events %>
  <% else %>
    <%= link_to "You haven't created any event, click here and create one now", new_event_path %>
  <% end %>
  <h3>Events I'm invited:</h3>
  <% if @invites.any? %>
    <%= render 'shared/events', object: @invites %>
  <% else %>
     <h4 class="text-center text-muted">You aren't going anywhere </h4>
  <% end %>
<% else %>
  <div class="jumbotron">
    <h1>Event Track</h1>
    <p>Create events, invite your friends, and party hard.<br/>
    Don't have an account? No problem.<br/>
    Create one right <%= link_to "here", '#', class: "btn btn-success" %></p>
  </div>
<% end %>
