<% if object.any? %>
  <div class="row">
    <% object.each do |invite| %>
      <div class="col-md-3">
        <div class="page-header">
          <h2><%= link_to invite.attended_event.name, event_path(invite.attended_event) %></h2>
        </div>
        <p class="text-justify" style="height: 160px">
          <%= invite.attended_event.description[0..336] %>
        </p>
        <p>
          <span class="pull-left"><%= invite.status %> Invited</span>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
